@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

img{
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 40px;
    width: 110px;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 30px;
}

.p-1{
    margin-top: 10px;
    color: rgb(200, 223, 108);
    font-size: large;
}

.p-2{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.856);
}

.container{
    text-align: center;
    background-color: rgb(31, 31, 31);
    margin-top: 5%;
    height: 75vh;
    width: 50vh;
    border-radius: 15px;
    flex-direction: column;
}

.b-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}

button:hover{
    background-color: rgb(196, 248, 42);
    color: black;
}