*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: blue;
    display: flex;
    justify-content: center;
}

.container{
    display: grid; 
    width: 1000px;
    grid-template-columns: repeat(3, 1fr); 
    padding: 250px;
    gap: 10px;
}

.child{
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}

.child:nth-child(1){
    order: 2;
}

.child:nth-child(2){
    order: 5;
}

.child:nth-child(3){
    order: 5;
}

.child:nth-child(4){
    order: 1;
}

.child:nth-child(5){
    order: 4;
}

.child:nth-child(6){
    order: 2;
}