h1 {
  color: black;
  background-color: lightgray;
}


.gio {
  color: white;
  background-color: darkblue;
}


#nika {
  color: yellow;
  background-color: darkred;
}



div {
  width: 300px;
  height: 200px;
  margin: 10px;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
}


.two{
  background-color: lightgreen;
  border: 2px solid green;
}


#three {
  background-color: orange;
  border: 2px dashed red;
}