*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.main-container{
    background-image: url(./../images/image-product-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10%;
    width: 550px;
    height: 450px;
    border-radius: 15px;
}
.cart{
    width: 200px;
    height: 50px;
    margin-left: 60%;
    margin-top: 21px;
    background-image: url(./../images/icon-cart.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 20%;
    background-color: rgb(61, 129, 104);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: white;
    text-align: center;
}

.prize-tags{
    display: flex;
    margin-left: 60%;
    margin-top: 23px;
}

.p-1{
    margin-left: 60%;
    margin-top: 23px;
    color: hsl(228, 12%, 48%);
    font-family: "Roboto", sans-serif;
}

.p-2{
    margin-left: 60%;
    margin-top: 20px;
    width: 190px;
    color: hsl(228, 12%, 48%);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.first-h1-tag{
    margin-left: 60%;
    width: 200px;
    margin-top: 23px;
    font-family: "Fraunces", serif;
}

.new-prize{
    color: rgb(63, 129, 105);
    font-family: "Fraunces", serif;
}

.old-prize{
    margin-left: 15px;
    margin-top: 10px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}