.gio {
  color: green;
  text-decoration: underline dotted red;
}

a{
color: blue;
text-decoration: none;
}

.a{
    text-decoration: underline;
}


button.giorgi-magari-kacia{
  background-color: black;
  color: white;
  border: 1px dashed black;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
}

button.giorgi-magari-kacia:hover {
  background-color: rgb(235, 181, 4);
  color: black;
}

button.giorgi-magri-kacia:active {
  background-color: orange;
}