*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-box{
    width: 200px;
    height: 200px;
    margin-top: 10%;
    background-color: black;
}

.div-box:hover{
    background-color: aqua;
    transform: scale(1.1);
}

.img{
    margin-left: 800px;
    width: 50px;
    height: 165px;
}
