@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    justify-self: center;
    background: white;
}

.container{
     background: rgb(136, 55, 55); 
    margin-top: 60%;
    width: 55vh;
    height: 55vh;
}

h1{
    margin-right: 55%;
    margin-bottom: 10px;
}

p{
    color: rgba(0, 0, 0, 0.486);
    margin-bottom: 35px;
}

.p-2{
    color: rgb(0, 0, 0);
}

.input-1{
    width: 540px;
    height: 30px;
    border-radius: 6px rgba(117, 89, 89, 0.753);
}

label{
    color: rgb(0, 0, 0);
}

textarea{
    width: 540px;
    height: 95px;
    border-radius: 6px;
}

button{
    width: 540px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: rgb(47, 37, 195);
    color: rgb(238, 246, 253);
}