*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 150px;
    height: 150px;
    background: rgb(2, 209, 19);
    border: 2px solid #000;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; 
}


.gio:hover {
    transform: translate(100px, 50px);
}


.gio1:hover {
    transform: scale(1.5);
}


.gio2:hover {
    transform: skew(20deg, 10deg);
}


.gio3:hover {
    transform: rotate(45deg);
}