body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}




.tato{
  width: 100px;
  height: 100px;
  border: 20px solid #c90000;
  animation:spin 3s linear infinite;
  border-top: 10px solid #c20000;
  border-radius: 50%;
  
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}