body {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

.font1 {
  font-family: 'Noto Serif Georgian', serif;
  font-size: 32px;
  color: #333;
}

.font2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  color: #555;
}

.font3 {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  color: #0077cc;
}
