ol li marker{
    color: green;
}
.gio {
  list-style-type: disc;
}
.gio2 {
  list-style-type: circle;
}
.gio3 {
  list-style-type: square;
}
.gio4 {
  list-style-type: decimal;
}
.gio5 {
  list-style-type: decimal-leading-zero;
}

.gio6 {
  list-style-type: lower-roman;
}
.gio7 {
  list-style-type: upper-roman;
}

.gio8 {
  list-style-type: lower-alpha;
}
.gio9 {
  list-style-type: upper-alpha;
}
.gio10{
    list-style-type: georgian;
}
.gio11{
    list-style-type: lower-alpha;
}
