body{
    background-color: rgb(17, 133, 235);
    text-align: center;

}
a{
    border: 2px;
    background-color: rgb(7, 219, 0);
    color: brown;
    
}
h1{
    background-color: yellow;
    color: brown;
    text-align: center;
}
a:hover{
    color: blue;
}
button{
    background-color: aqua;
    color: rgb(0, 0, 0);
}
button:hover{
    color: blanchedalmond;
}
.gio1{
    list-style-type: lower-roman;
}
.gio2{
    background-color: darkblue;
    color: brown;
}
.gio3{
    background-color: yellow;
    color: red;
}
