/* საერთო სტილი */
a {
  transition: all 0.4s ease;
  font-size: 18px;
  margin: 10px;
  display: inline-block;
}

.gio1 {
  color: #1a73e8;
  text-decoration: underline;
}


.link2:link {
  color: #d93025;
  text-decoration: overline;
}


.link3:link {
  color: #188038;
  text-decoration: line-through;
}

.link4:link {
  color: #e37400;
  text-decoration: underline double;
}

.link5:link {
  color: #5f6368;
  text-decoration: none;
  text-shadow: 1px 1px 2px #aaa;
}
