*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  flex-wrap: wrap; 
  gap: 10px;
  padding: 20px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: red; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    align-items: center;
  }

  .box {
    background-color: blue; 
  }
}
/* 
@media (max-width: 480px) {
  .container {
    flex-direction: column-reverse; 
    align-items: center;
  }

  .box {
    background-color: green; 
} */