*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    width: 1000px;
    height: 80vh;
    border: 10px black solid;
    border-radius: 10px;
}

.child{
    background: black;
    border-radius: 10px;
}

.div1{
    grid-area: 1 / 1 / 4 / 3;
}

.div2{
    grid-area: 1 / 3 / 4 / 7;
}

.div3{
    grid-area: 1 / 7 / 3 / 10;
}

.div4{
    grid-area: 1 / 10 / 4 / 13;
}

.div5{
    grid-area: 1 / 13 / 5 / -1;
}

.div6{
    grid-area: 4 / 1 / 9 / 4 ;
}

.div7{
    grid-area: 9 / 1 / -1 / 4;
}

.div8{
    grid-area: 4 / 4 / 10 / 7;
}

.div9{
    grid-area: 10 / 4 / -1 / 9;
}

.div10{
    grid-area: 3 / 7 / 4 / 10;
}

.div11{
    grid-area: 4 / 7 / 7 / 10;
}

.div12{
    grid-area: 7 / 7 / 10 / 10;
}

.div13{
    grid-area: 10 / 9 / -1 / 10;
}

.div14{
    grid-area: 4 / 10 / 10 / 13;
}

.div15{
    grid-area: 10 / 10 / -1 / 14;
}

.div16{
    grid-area: 5 / 13 / 10 / 15;
}

.div17{
    grid-area: 5 / 15 / 10 / 16;
}

.div18{
    grid-area: 10 / 14 / -1 / 16;
}