@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Bitcount+Grid+Single:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
.bitcount-grid-single-uniquifier {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Bitcount+Grid+Single:wght@100..900&family=Inconsolata:wght@200..900&family=Noto+Sans+JP:wght@100..900&display=swap');
.bitcount-grid-single-uniquifier {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Bitcount+Grid+Single&family=Inconsolata:wght@200..900&family=Noto+Sans+JP:wght@100..900&display=swap');
bitcount-grid-single-uniquifier{
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}