body{
    border: none;
    text-align: center;

}
table{
border-collapse: collapse;
border-style: none;
width: 400px;

}
thead{

}
table thead:nth-child(1){
    background-color:rgb(0, 0, 0) ;
    color: aliceblue;
}
table tbody tr:nth-child(1){
    background-color: aqua;
}
table tbody tr:nth-child(2){
    background-color: rgb(0, 255, 98);
}
table tbody tr:nth-child(3){
    background-color: rgb(227, 252, 0);
}
table tbody tr:nth-child(4){
    background-color: rgb(255, 0, 0);
}
table tbody tr:nth-child(5){
    background-color: rgb(0, 114, 114);
}


